:root {
    --main-text-color: #212121;
    --gray-color: #757575;
    --blue-color: #2196F3;
    --white-color: #FFFFFF;
    --btn-bg-color: #F5F4FA;
    --black-color: #000000;
    --footer-bg-color: #2F303A;
    --footer-text: rgba(255, 255, 255, 0.60);
    --btn-shadow: rgba(0, 0, 0, 0.15);
}

/* default preset */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    /* color: var(--gray-color); */
    font-weight: 400;
    line-height: normal;
    /* letter-spacing: 0.42px; */
}

ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: var(--main-text-color);
    /* margin: 0; */
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* content centring */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 1px solid red;  */
}


.icon {display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 20px;
    outline: auto;
        /* stroke: yellow; */
    fill: var(--gray-color);
}
.icon:hover {
    fill: var(--blue-color);
}
.twitter {
    width: 70px;
    height: 70px;
}